@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  position: relative;
  min-height: 100vh;
  background-image: url("Img/backg2.webp");
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .btn {
  position: relative;
  top: 20px;
  left: 0;
  width: 250px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}
.container .btn:hover a {
  letter-spacing: 3px;
}
.container .btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}
.container .btn:hover a::before {
  transform: skewX(45deg) translate(200px);
}
.container .btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.container .btn:hover::before /*lightup button*/ {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.container .btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.container .btn:hover::after /*lightup button*/ {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.container .btn:nth-child(1)::before, /*chnage 1*/
.container .btn:nth-child(1)::after {
  background: #ad1fff;
  box-shadow: 0 0 5px #ad1fff, 0 0 15px #ad1fff, 0 0 30px #ad1fff,
    0 0 60px #ad1fff;
}

.container .btn:nth-child(2)::before, /* 2*/
.container .btn:nth-child(2)::after {
  background: #2d8bff;
  box-shadow: 0 0 5px #2d8bff, 0 0 15px #2d8bff, 0 0 30px #2d8bff,
    0 0 60px #2d8bff;
}

.container .btn:nth-child(3)::before, /* 3*/
.container .btn:nth-child(3)::after {
  background: #3fde4c;
  box-shadow: 0 0 5px #3fde4c, 0 0 15px #3fde4c, 0 0 30px #3fde4c,
    0 0 60px #3fde4c;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 6.5%;
}

.footer-container .btn {
  position: relative;
  left: 0;
  width: 250px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container .btn a {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}

.footer-container .btn:hover a {
  letter-spacing: 3px;
}

.footer-container .btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}

.footer-container .btn:hover a::before {
  transform: skewX(45deg) translate(200px);
}

.footer-container .btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.footer-container .btn:hover::before /*lightup button*/ {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.footer-container .btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.footer-container .btn:hover::after /*lightup button*/ {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.footer-container .btn:nth-child(1)::before, /* 2*/
.footer-container .btn:nth-child(1)::after {
  background: #2d8bff;
  box-shadow: 0 0 5px #2d8bff, 0 0 15px #2d8bff, 0 0 30px #2d8bff,
    0 0 60px #2d8bff;
}

.footer-container .btn:nth-child(2)::before, /* 3*/
.footer-container .btn:nth-child(2)::after {
  background: #e33936;
  box-shadow: 0 0 5px #e33936, 0 0 15px #e33936, 0 0 30px #e33936,
    0 0 60px #e33936;
}

.business-card {
  width: 40%;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.7);
  margin-left: 12%;
  margin-top: 7%;
  transition: all 0.5s;
}

.business-card:hover {
  transform: scale(1.03);
}

.clock {
  display: flex;
  justify-content: flex-end;
  height: 320px;
  width: 320px;
  border-radius: 50%;
  position: absolute;
  top: 24%;
  bottom: 0;
  left: 65%;
  right: 0;
}

.hand {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 5px;
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}

.hour {
  height: 60px;
  width: 10px;
  top: 100px;
}

.minute {
  height: 80px;
  width: 5px;
  top: 80px;
}

.seconds {
  height: 90px;
  width: 3px;
  top: 70px;
}

.about-container {
  display: flex;
  justify-content: center;
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  box-shadow: 15px 15px 15px rgba(8, 8, 8, 0.9);
  border-radius: 20px;
}

.footer-container-about {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6%;
}

.footer-container-about .btn {
  position: relative;
  left: 0;
  width: 120px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container-about .btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}
.footer-container-about .btn:hover a {
  letter-spacing: 3px;
}
.footer-container-about.btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}
.footer-container-about .btn:hover a::before {
  transform: skewX(45deg) translate(200px);
}

.footer-container-about .btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.footer-container-about .btn:hover::before /*lightup button*/ {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.footer-container-about .btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.footer-container-about .btn:hover::after /*lightup button*/ {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.footer-container-about .btn:nth-child(1)::before, /* 2*/
.footer-container-about .btn:nth-child(1)::after {
  background: #2d8bff;
  box-shadow: 0 0 5px #2d8bff, 0 0 15px #2d8bff, 0 0 30px #2d8bff,
    0 0 60px #2d8bff;
}

.projects-container {
  display: flex;
  justify-content: space-around;
  margin-top: 6%;
  margin-left: 7%;
  margin-right: 7%;
  /* border: blue solid 1px; */
}

.car-shop {
  max-width: 16em;
  border-radius: 20px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
  /* border: blue solid 1px; */
}

.car-shop:hover {
  transform: scale(1.05);
}

.netflix-clone {
  max-width: 16em;
  border-radius: 20px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}

.netflix-clone:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 749px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .container .btn {
    position: relative;
    width: 250px;
    height: 50px;
    /* margin: 0; */
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: blue solid 1px; */
  }
  .container .btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    font-weight: 400;
    z-index: 1;
    transition: 0.5s;
    backdrop-filter: blur(15px);
  }

  .projects-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 6%;
    /* border: blue solid 1px; */
  }

  .car-shop {
    max-width: 16em;
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.8);
    transition: all 0.5s;
    /* border: blue solid 1px; */
  }

  .netflix-clone {
    margin-top: 5%;
    max-width: 16em;
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.8);
    transition: all 0.5s;
  }

  .business-card {
    width: 82%;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.7);
    margin-top: 8%;
    transition: all 0.5s;
  }

  .business-card:hover {
    transform: scale(1.03);
  }

  .clock {
    position: absolute;
    height: 1px;
    width: 1px;
    opacity: 0;
  }
  .img-clock {
    position: absolute;
    height: 1px;
    width: 1px;
    opacity: 0;
  }
  .footer-container .btn {
    position: relative;
    width: 250px;
    height: 50px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
